/* Tailwind theme */
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

/* Preflight */
/* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

/* Typography */
/* https://gist.github.com/adamwathan/41dcab602afd07ac8ba243eb186c324a */
@layer base, theme, components, plugins,  utilities;

@import 'tailwindcss';

@layer components {
	.btn-sm {
		padding: var(--spacing-1);
		background-color: var(--color-indigo-500);
		color: var(--color-gray-700);
	}

	.btn-lg {
		padding: var(--spacing-10);
		background-color: var(--color-red-500);
		color: var(--color-blue-700);
	}
}
